
<aside class="sidebar anim on">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <nav class="navbar">
        <div class="user-img-box" onmousemove="imgBoxMouseMove()" onmouseleave="imgBoxMouseLeave()">
            <a href="#" onclick="onUserImgClike()" >
                <img id="img_userIcon" class="user-img" src='../img/defaultUserImg.png' />
            </a>
        </div>
        <ul class="nav nav-main">
            <li class="nav-item">
                <a class="nav-item-link" href="/">Home</a>
            </li>
        </ul>
    </nav>

    <div id="profileDiv" onmousemove="profileMouseIn()" onmouseleave="profileMouseLeave()"
         class="profile" style="visibility: hidden">
        <a href="/">
            <img id = "profile_userImg" class="profile-userImg" src="../db/usericon/default.jpg"/>
            <p id="profile_username" style="color: #f5f5f5; margin-top: 1.6rem;font-size: 16px" th:text="${session.username}"><p>
        </a>

        <div id="site_state" style="display:block;margin:0 auto;opacity:1;display:block;transform:translateX(0px);background: #000000; width:100px;height:20px;">
            <nav style="display:flex;  justify-content: center; ">
                <div style="margin-left:0pt;">
                    <a href="/archives/" style="color:red;text-decoration:none;">
                        <span style="color: inherit;  display: block; font-size: 1.25em; font-weight: 600;   text-align: center; ">1</span>
                        <span style="color: inherit;">orgs</span>
                    </a>

                </div>
                <div style="margin-left:20pt">
                    <a href="/categories/" style="color:red;text-decoration:none;">
                        <span style="color: inherit;  display: block; font-size: 1.25em; font-weight: 600;   text-align: center;">87</span>
                        <span style="color: inherit;">project</span>
                    </a>

                </div>
                <div style="margin-left:20pt">
                    <a href="/tags/" style="color:red;text-decoration:none;">
                        <span style="color: inherit;  display: block; font-size: 1.25em; font-weight: 600;   text-align: center;">61 </span>
                        <span style="color: inherit;">files</span>
                    </a>

                </div>
            </nav>
        </div>
        <div id="linkslist" style="margin:0 auto;display:block;margin-top: 45px;opacity:1;display:block;transform:translateX(0px);background: #00000; width:200px;height:20px;">
            <a href="/user/signout" style="color:#F0FFFF;text-decoration:none;font-size: 0.9em; font-weight: 600;margin-left:19px; border-bottom:1px solid #98F5FF;" title="Sing Out" rel="noopener" target="_parent">
                <i class="fa fa-fw fa-github"></i>Sign Out</a>
        </div>
    </div>
</aside>

<script>

    function imgBoxMouseMove(){

        document.getElementById("profileDiv").style.visibility="visible";//显示
    }

    function imgBoxMouseLeave(){
        document.getElementById("profileDiv").style.visibility="hidden";//显示
    }
    function profileMouseIn(){
        document.getElementById("profileDiv").style.visibility="visible";//显示
    }
    function profileMouseLeave(){
        document.getElementById("profileDiv").style.visibility="hidden";//显示
    }
</script>